.text-animate {
    display: inline-block;
    opacity: 0;
    animation: bounceIn;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    min-width: 10px;
}

@for $i from 1 to 46 {
    .text-animate._#{$i} {
        animation-delay: #{$i / 10}s;
    }
}